/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;
    min-width: 1340px;
    max-width: 1530px;
    margin: 0 auto;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.5em;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding: 0 5px;
}

header nav ul li>a{
    text-decoration: none;
    color: black;
    font-weight:600;
}

.green-bg{
    background-color: rgb(174, 245, 153);
}

.amaranth-bg{
    background-color: rgba(155, 25, 25, 0.842);
}

.azul-bg{
    background-color: rgb(65, 201, 255);
}

.red-bg{
    background-color: red;
}

.darkred-bg{
    background-color: rgba(255, 0, 0, 0.699);
}

.celeste-bg{
    background-color: rgb(164, 212, 231);
}

.blue-bg{
    background-color: royalblue;
}

.yellow-bg{
    background-color: rgba(255, 255, 0, 0.856);
}

.amaranth-txt{
    color: rgba(155, 25, 25, 0.842);
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.lightblue-bg{
    background-color: rgb(215, 229, 252);
}

.button{
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 7.5px 20px;
}

.wrapper{
    width: 80%;
    /* height: 100vh; */
    /* background-color: cyan; */
    margin: 0 auto;
}

.row{
    width: 100%;
    /* height: 1000px; */
    /* margin-top: 40px; */
}

.col{
    width: 30%;
    height: 900px;
    margin-top: 40px;
    border: 1px solid black;
}

.col-header{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 40px;
}

.col-header h4{
    
    font-weight: 600;
}

.col-content{
    width: 100%;
    height: calc(100% - 40px);
    padding: 40px 30px ;

}

.hr{
    height: 1px;
    width: 20%;
    background-color: lightgrey;
    margin-top: 20px;
}

.col-content .button{
    width: 100%;
    margin: 40px 0 30px 0;
}

.col-content h5{
    margin: 15px 0 10px 0;
}

.col-content ul{
    padding-top: 20px;
    list-style: none;
}

.col-content li{
    padding-bottom: 15px;
    padding-left: 1.3em; 
    font-size: 0.9em;
}

.col-content .fas,
.col-content .far{
    margin-left: -1.3em;
}

.col-content .fa-check{
    /* display: inline-block;
    margin-bottom:0.9em; */
    color: rgb(0, 97, 255);
}

/* .li-format{
    display: inline-block;
    width: 80%;
} */

.row-header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    margin-top: 80px;
}

.row-header h4{
    font-weight: 600;
}

.row-content{
    width: 100%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
}

.row-content h5{
    padding: 30px 0;
}

.col img{
    width: 100%;
    /* margin: auto; */
}

.logo{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    /* filter:  saturate(100%) brightness(97%) ; */
}

.col hr{
    width: 80px;
    margin: 60px 0;
}

.svg-box{
    position: relative;
    width: 50%;
    height: 228px;
    padding: 50px;
    /* line-height: 228px;
    vertical-align: middle; */
}

.bordertop{
    border-top: 1px solid black;
}

.borderbottom{
    border-bottom: 1px solid black;
}

.svg-box img{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:  invert(1);
    
}

#nav-bar{
    height: 5vh;
    padding: 10px;
}

#jumbotron{
    position: relative;
    height: 80vh;
    padding: 5% 10%;
}

#jumbo-txt{
    width: 30%;
    padding: 50px 15px 0 0;
    
}

#jumbo-txt p{
    padding: 10px 0 25px 0;
}

#jumbo-img{
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 65%;
}

#bp-sect .col:nth-child(2){
    margin: 40px 5% 0 5%;
  
}


#bp-sect,
#pc-sect,
#dbo-sect,
#tud-sect {
    padding-top: 15%;
}

#bp-sect>.wrapper>h2{
    padding-bottom: 60px;
}

#pc-sect-img{
    width: 50%;
}

#pc-sect .text{
    width: 50%;
    padding: 40px 100px 40px 70px;
}

#pc-sect h2{
    font-size: 1.6em;
}

#pc-sect p{
    padding: 35px 0;
    line-height: 30px;
}


#pc-sect .button{
    color: black;
    background-color: white;
    border: 1.5px solid black;
}

#dbo-sect h1{
    font-size: 2.5em;
}

#dbo-sect .col{
    height: fit-content;
    padding: 0 30px 50px;
    border: none;
}

#dbo-sect h3{
    font-size: 1.5em;
}

#dbo-sect p{
    padding-top: 20px;
    font-weight: 500;
}

#tud-sect .col{
    height: fit-content;
    border: none;
}

#tud-sect .col:nth-child(2){
     margin: 80px 0 0 0;
     padding: 50px 50px;
     width: 40%;
     background-color: rgb(247, 247, 247);
}

#tud-sect .col:nth-child(2) p{
    padding-bottom: 25px;
} 

#tud-sect div.lightblue-bg{
    height: 400px;
}

#tud-sect div.lightblue-bg .wrapper{
    padding: 100px 0;
    height: 400px;
}

#faq-sect{
    padding: 80px 0;
}

#faq-sect h4{
    display: inline-block;
    line-height: 80px;
}

#footer-container{
    background-color: black;
    padding: 60px 0;
}

#footer-container .col{
    width: 20%;
    border: none;
    margin: 0;
    height: 200px;
    color: white;
}

#footer-container ul{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 50px;
}

#footer-container ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    line-height: 30px;
}

#footer-container hr{
    margin:80px 0 40px 0;
}

#lang-sel{
    color: white;
}


/* recap: fix checklist, fix jumbotron, import font weight 500*/


/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .radiomark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .radiomark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .radiomark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .radiomark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }